.ui {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    margin: 1vh;
}
.ui-intro {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    margin: -5vh -25% 0;
    left: 50%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ui-intro-instructions {
    text-align: center;
}
.ui-intro-instructions h2,
.ui-intro-instructions p {
    margin: 0;
    padding: 0;
}
.ui-intro-instructions h2 {
    margin: 3vh 0 1vh;
}

.ui-intro-logo {
    padding: 2vh;
    text-align: center;
    font-size: 10vw;
    color: white;
}
.ui-player-color {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 10px solid white;
    margin: 15px auto;
}

.ui-player-info {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin: 10px;
    display: block;
}
.swatch {
    flex: 1 0 auto;
    display: block;
    height: 10px;
    margin: 0;
}
.ui-players {
    flex: 1 0 auto;
    display: flex;
    width: 0%;
}
.ui-player {
    flex: 1 0 auto;
    color: black;
    font-size: 0.8em;
}

.ui-cta-start {
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 5px;
}

.ui-terrain {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
}
.ui-terrain-count {
    position: absolute;
    right: 0;
    bottom: 100%;
    padding: 10px;
}
.ui-terrain-count::after {
    content: "#";
}

.ui-player-current.ui-player {
    color: white;
}

.ui-player-icon {
    text-align: center;
    height: 1vh;
    position: relative;
}

.ui-container {
    width: 100%;
    height: 100%;
}

.ui-player-spiecies {
    font-size: 15px;
}
