.ui {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 2em;
    color: white;
}

.ui-player-color {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 10px solid white;
    margin: 15px auto;
}

.ui-player {
    text-align: center;
    width: 160px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.ui-player-icon {
    text-align: center;
}

.ui-container {
    width: 100%;
    height: 100%;
}

.ui-player-spiecies {
    font-size: 15px;
}
